:root{

    --main-color: green;
    --secondary-color: black;
    --board-color: white;




}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

header{

    height: 20vh;


}
.gameBody{
    background-color: var(--main-color);
    height: 60vh
}
/* Game Board Styling  */
.gameboard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--board-color);
    color: var(--secondary-color);
    border-radius: 10px;
    


}

/* ////////////////////////////////////////////////////// */

footer{

    height: 20vh;

}